@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #2ab7ca;
  --secondary-color: #fe4a49;
  --tertiary-color: #fed766;
  --white-color: #f4f4f8;
  --black-color: #060606;
  --lightGray-color: #e6e6ea;
  --gray-color: #6b7688;
}

body{
  font-family: "Prompt";
  margin: 0 auto;
}

.page {
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  background-clip: padding-box;
  border-radius: 8px;
  border: 3px solid var(--white-color);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}

a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: var(--tertiary-color);
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
}

button {
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: 2px solid var(--secondary-color);
  color: var(--white-color);
  font-size: 1.35em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.5s;
  cursor: pointer;

  &:hover {
    background-color: var(--lightGray-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
}