.react-tabs {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
}

.react-tabs__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-right: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    cursor: pointer;
    width: 6vw;
    height: 4vh;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    font-weight: 500;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.09);
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: rgb(77, 77, 77);
    color: black;
    right: -1px;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

.react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 8px;
    background: #fff;
}

.react-tabs__tab-panel {
    background: #fff;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.react-tabs__tab-panel--selected {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 58vw;
    padding: 0 4rem 4rem 4rem;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    scroll-behavior: none;
}

.prompt__collector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 20vw;
    margin-left: 2rem;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 2rem 0;
}

.selected__prompts {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-right: 1.5rem;
    height: 100%;
    width: 100%;
}

.prompt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    height: 4vh;
    width: 8vw;
    margin: .5rem;
    border: 1px solid #00165f;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 2vh;
    font-size: 18px;
    font-weight: bold;
    color: #00165f;
    border: 2px solid #00165f;
    border-radius: 50%;
    cursor: pointer;
}

.delete:hover {
    border: 2px solid rgb(255, 115, 21);
    color:rgb(255, 115, 21)
}

.options {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 60vw;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    width: 22.5vw;
    height: 22.5vw;
    display: flex;
    margin: 1rem 1rem;

}