.prompt__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 4px solid #00165f;
    margin: 4rem 1.5rem 0 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 115, 21);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.prompt__card__title {
    height: 1rem;
    margin-top: 1rem;
    font-size: 22px;
    color: white;
    pointer-events: none;
}

.prompt__card__image {
    height: 300px;
    width: 300px;
    margin-top: -.5rem;
    border: 2px solid #00165f;
    pointer-events: none;
}

.active__prompt {
    box-shadow: 6px 6px 6px rgb(255, 115, 21), -6px -6px 6px rgb(255, 115, 21), 6px -6px 6px rgb(255, 115, 21), -6px 6px 6px rgb(255, 115, 21);
}