.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 6rem;

    &__box {
    max-width: 480px;
    width: 100%;
    padding: 24px 48px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--secondary-color);
    border-radius: 6px;
    }

    &__title {
        text-align: center;
    }

    &__field {
        margin-bottom: 20px;


        label{
            font-size: 1.5rem;
            display: block;
            margin-bottom: 10px;
        }

        input {
            background-color: var(--lightGray-color);
            width: 95%;
            padding: 10px;
            border-radius: 6px;
            font-size: 1rem;
            color: var(--black-color);

            &:focus {
                outline: none;
            }
        }
    }

    &__footer {
        button {
            width: 100%;
            margin-top: 24px;
        }

        .auth__error{
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 0;
            color: var(--tertiary-color);
            text-align: center;
        }
    }

    &__error {
        font-size: 1rem;
        margin-top: 10px;
        color: var(--tertiary-color);
    }

    &__register {
        text-align: center;
        margin-top: 1rem;

        a{
        color: var(--tertiary-color);
        text-decoration: underline;
        }
    }


}