.size__slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		display: flex;
		font-size: 0.75rem;
	}

	p {
		margin: 0 0.4rem;
	}
}

.range {
	max-width: 80px;
	width: 5vw;
}

@media screen and (max-width: 1200px) {
	.range {
		width: 8vw;
	}
}

@media screen and (max-width: 900px) {
	.range {
		width: 10vw;
	}
}

@media screen and (max-width: 600px) {
	.range {
		width: 15vw;
	}
}
