.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-size: 1.75rem;
        text-align: center;
        margin-top:2rem;
    }

    &__number {
        cursor: pointer;
        width: 10%;
        color: var(--primary-color);

        &:nth-child(2){
            padding-right: 5px;
        }
    }

    .active {
        color: var(--secondary-color);
    }

    .disabled {
        opacity: 50%;
        pointer-events: none;
    }

    .arrow {
        cursor: pointer;
        color: var(--primary-color);
    }
}
