.footer {
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;

    &__info {
        font-size: .85rem;
        margin-right: 3rem;
        margin-bottom: .5rem;
        align-self: flex-end;
    }
}