.footer {
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
    }


    span{
        font-size: 1rem;
        margin-left: -4.5rem;
        margin-bottom: -1rem;
        line-height: 0rem;
    }

    &__info {
        font-size: .85rem;
        margin-right: 3rem;
        margin-bottom: .5rem;
        align-self: flex-end;
    }
}