.navbar {
    margin-top: .5rem;
    width: 98%;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.nav__link {
    margin: 0 1.5rem;
    cursor: pointer;
}

.nav__links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.active {
    color: #661010;
}
