.custom__container {
    margin-top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--white-color);
    border-radius: 8px;
    border: 2px solid var(--tertiary-color);
    margin-bottom: 3rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.prompt__input {
    width: 50%;
    display: flex;
    align-items: center;

    label {
        width: 30%;
    }

    input {
    margin: 0 1rem;
    width: 100%;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset, rgba(0, 0, 0, 0.1) -2px -2px 4px 0px inset;
    }
}

